<!DOCTYPE html>
<html lang="ro">
    <head> 
        <title>Protejati natura</title>
        <link rel="shortcut icon" type="image/ico" href="/resurse/img/img/copac.ico">
        <meta charset="UTF-8">
        <meta name="description" content="Despre natura si despre cum o putem proteja">
        <meta name="keywords" content="protejam natura ">
        <meta name="author" content="Cordescu Octavian-Nicolae">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" type="text/css" href="/resurse/css/Style1.css">
      </head>
     <body>
     
    <header>
      <%- include("../fragments/header") %>
       
    </header>
      <main>
            <div class="container2">
              
              <article class="content">
                <h2>.</h2>
               <p id="About">
                     Am ales să facem acest site pentru a promova protecția naturii deoarece considerăm că natură este crucială pentru existența omenirii și de asemenea este bine cunoscut faptul că,
                     în orice colţ de lume te vei duce vei găsi un loc minunat din natura care ţi se va întipări adânc în memorie. Aflaţi în mijlocul naturii ne dăm seama că totul a fost creat cu înţelepciune.
                     Cu adevărat Dumnezeu este un mare architect. Natura a fost, este şi va fi întotdeauna cea mai minunată, misterioasă şi fascinanta lucrare poate singurul lucru pe
                     care omul nu-l va putea crea niciodată. Nu cred că există om care să nu fie fascinat de culorile pe care le vede în natură, de combinaţiile coloristice pe care le oferă fiecare anotimp 
                     şi fiecare colţ al planetei. Natura are o fire dechisa şi este sinceră cu noi întotdeauna. Ea are un suflet uriaş care cuprinde tot universul. Natura ne vorbeşte trebuie doar să să 
                     stăm relaxaţi să ascultăm şi să ne incar-cam cu energia tămăduitoare sunetelor ei. Vuietul valurilor, ciripitul păsărilor, şuieratul vântului, ropotul ploii, zgomotul unei cascade, 
                     foşnetul frunzelor, zumzăitul albinelor sunt dorar câteva dinte vibraţiile pe care natura ni le transmite.  
               </p>
              </article>
              <aside class="content">
                            <div class="dark">
                            <h2>Ce facem noi</h2>
                            <p>Misiunea noastră este să conservăm pământul și apele de care depinde toată viața. 
                              Viziunea noastră este o lume în care diversitatea vieții prosperă, iar oamenii lupta pentru a conserva natura și
                              pentru capacitatea de a ne îndeplini nevoile și de a ne îmbogăți viața.</p>
                           </div>
              </aside>
            </div>
            
            
      </main>
     
     <footer>
      <%- include("../fragments/footer") %>
      <!--<a  id= "surse" href="surse.txt" download="Surse">Click aici pentru a vedea sursele de unde a fost extras textul si imaginile</a>-->
    </footer>
  </body>
</html>