<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>Protejati natura</title>
    <link rel="shortcut icon" type="image/ico" href="/resurse/img/img/copac.ico">
    <meta charset="UTF-8">
    <meta name="description" content="Despre natura si despre cum o putem proteja">
    <meta name="keywords" content="copaci natura poluare animale">
    <meta name="author" content="Cordescu Octavian-Nicolae">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resurse/css/Style1.css">
</head>
  <body>
        <header>
          <%- include("../fragments/header") %>
             </header>
             <main>
                
                <section>
                    <h2 id="H1">Cum Putem Proteja Natura?</h2>
                    <p id="Par"> 
                        Planeta noastra sufera din neglijenta unor oameni care polueaza mediul. Ei nu sunt intotdeauna constienti de raul pe care il fac, dar cu ajutorul vostru 
                        ii vom face sa se gandeasca la efectele activitatilor lor asupra vietii planetei si, bineinteles, asupra noastra, a tuturor.Din dorinta de a avea o viata comoda, 
                        oamenii au poluat, mai mult sau mai putin grav, solul, apa si aerul, ducand la disparitia multor specii de plante si animale.
                        Oamenii sunt confruntati la randul lor cu diferite boli cauzate de poluare iar interventiile civilizatiei au provocat mediului natural pagube mari.
                        Impreuna vom intelege ca traim pe aceeasi planeta de care trebuie sa avem grija cu totii! Ceea ce natura a creat in milioane de ani se poate distruge in cateva zile,
                         luni sau ani. Pentru a evita distrugerea mediului trebuie sa cunoasteti legile acestuia si sa actionati in conformitate cu ele, trebuie sa invatati sa protejati, 
                         sa ocrotiti si sa conservati elementele mediului natural. Viitorul planetei sta in mainile noastre! Sunteti pregatiti sa cunoasteti si sa protejati mediul inconjurator? 
                         Impreuna putem sa avem o planeta curata!
                    </p>
                    <p class="Par2">
                        Iata cateva lucruri pe care le puteti face pentru a proteja planeta:
                    </p>
                    <section>
                      <h3 class="HR" id="Red">1. Reduceti, reutilizati, reciclati</h3>
                      <p class="Par2"> 
                          Alegeti produse reutilizabile in loc de cele dispensabile, ambalaje minimaliste, reciclati hartie, plastic, sticla, reviste si ziare, precum si doze de aluminiu.
                           Prin reciclarea a numai jumatate din ceea ce folositi intr-o gospodarie, reduceti anual poluarea cu 1.090 de kilograme de dioxid de carbon.
                      </p> 
                    </section>
                      <section>
                          <h3 class="HR" id="Incalzirea">2. Folositi cumpatat incalzirea si aerul conditionat</h3>
                          <p class="Par2"> 
                              AConfortul personal este important, dar excesul nu se justifica. Solutii inteligente de izolare a casei va pot ajuta sa economisiti energie atat iarna,
                               cat si vara, prin reducerea nevoilor de incalzire sau a costurilor pentru aer conditionat. Puteti reduce poluarea cu 90 de kilograme de dioxid de carbon pe an (per individ).
                          </p> 
                        </section>
                      <section>
                            <h3 class="HR" id="becuri">3. Alegeti becurile economice</h3>
                            <p class="Par2"> 
                                Un bec fluorescent are viata mai lunga decat unul clasic si foloseste doar doua treimi din energia necesara acestuia, plus ca da cu 70% mai putina caldura in incapere.
                                 Un scenariu raportat la SUA arata ca, daca fiecare familie ar folosi macar un bec fluorescent in locul unuia clasic,
                                 acest fapt ar reduce cu 40 de miliarde de kilograme emisia de gaze de sera (ca si comparatie, ar echivala cu scoaterea din circulatie a 7,5 milioane de masini).
                            </p> 
                      </section>
                      <section>
                              <h3 class="HR" id="condus">4. Conduceti intelept si mai putin</h3>
                              <p class="Par2"> 
                                  Cu cat folositi mai rar masina, cu atat se reduce emisia de gaze, plus ca nu mai consumati benzina. Asa ca, daca nu e vorba de o distanta lunga sau de lipsa altor mijloace de transport, 
                                  incercati mersul pe jos, bicicleta sau mijloacele de transport in comun. Iar daca, totusi, 
                                  alegeti masina, incercati sa fiti eficienti: sa aveti cauciucurile umflate la nivelul potrivit, motorul ingrijit, sistemul curatat.
                              </p> 
                       </section>
                       <section>
                                <h3 class="HR" id="cumparat">5. Cumparati produse eficiente energetic</h3>
                                <p class="Par2"> 
                                    Cand alegeti o masina noua, orientati-va catre una cu un consum mic. Pentru produsele necesare casei, exista din ce in ce mai multe variante eficiente energetic,
                                     indiferent ca e vorba de un bec sau un robot de bucatarie. Incercati sa evitati tot ce inseamna plastic in exces sau orice ce nu poate fi reciclat.
                                </p> 
                         </section>
                         <section>
                            <h3 class="HR" id="apacalda">6. Folositi mai putina apa calda</h3>
                            <p class="Par2"> 
                                In loc de apa fierbinte pentru dus sau baie, incercati o varianta cu ceva grade mai in jos. Capetele de dus cu jet moderat ajuta si ele la reducerea consumului de apa.
                                 Mai nou, hainele pot fi spalate si cu apa rece sau doar usor incalzita la masina de spalat, nu mai este nevoie sa le fierbeti la 90 de grade.
                            </p> 
                          </section>
                          <section>
                              <h3 class="HR" id="lumini">7. Stingeti lumina</h3>
                              <p class="Par2"> 
                                  Cand plecati din casa, inchideti becurile si scoateti din priza aparatura electronica. Cand sunteti acasa,
                                   folositi lumina doar acolo unde aveti nevoie, nu in toata casa si incercati sa nu utilizati toate aparatele electronice si electrocasnice in acelasi timp.
                              </p> 
                            </section>
                            <section>
                                <h3 class="HR" id="plantat">8. Plantati un copac</h3>
                                <p class="Par2"> 
                                    Oriunde: in gradina, in curtea blocului, in afara orasului, oriunde se poate, plantati un copac.
                                     Sau mai multi. Se vor dezvolta in timp, dar vor contribui, la un moment dat, la absorbtia dioxidului de carbon din atmosfera,
                                      chiar daca intr-o mica masura. Insa un copac face mult pentru ecosistemul de care apartine si oricum merita sa il plantati.
                                </p> 
                              </section>
                              <section>
                                  <h3 class="HR" id="energie">9. Incercati energiile alternative</h3>
                                  <p class="Par2"> 
                                      Daca aveti posibilitatea sa folositi energii alternative, nu ezitati. Desi programele din Romania nu sunt atat de avansate ca in alte
                                       tari in privinta sustinerii materiale a celor care trec pe energii alternative,
                                       totusi, investitia o veti recupera in timp si veti contribui la protejarea mediului.
                                  </p> 
                                </section>
                        <p class="Par2"><strong>Haideti sa avem o lume mai buna si mai curata!</strong></p>
                        <video id="Video2" width="800" height="500" controls>
                          <source src="/resurse/video/VideoclipNatura2.mp4" type="video/mp4">
                        Videoclipul nu merge pe acest browser
                        </video>

                </section>
             </main>
             <footer>
              <%- include("../fragments/footer") %>
            </footer>
          
  </body>