<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>Protejati natura</title>
    <link rel="shortcut icon" type="image/ico" href="/resurse/img/img/copac.ico">
    <meta charset="UTF-8">
    <meta name="description" content="Despre natura si despre cum o putem proteja">
    <meta name="keywords" content="copaci natura poluare animale">
    <meta name="author" content="Cordescu Octavian-Nicolae">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resurse/css/Style1.css">
  </head>
  <body>
    <header>
      <%- include("../fragments/header") %>
    </header>
    <main>
      
      <section>
      <h2 id="H1">De ce trebuie să protejăm natura?</h2>
      <section class="Cuprins">
        <h3>Cuprins:</h3>
         <ul>
          <li>
            Poluarea
            <ol>
              <li><a href="#Paer">Poluarea Aerului</a></li>
              <li><a href="#Papelor">Poluarea Apelor</a></li>
              <li><a href="#Psolului">Poluarea Solului</a></li>
            </ol>
          </li>
          <li><a href="#Incalzirea">Incalzirea Globala</a></li> 
          <li><a href="#Disparitia">Disparitia Speciilor de animale</a></li> 
        </ul>
     </section>  
      <p id="Par"> 
          Pentru a înțelege de ce trebuie să protejăm natura trebuie mai întâi să știm ce este ea de fapt. Conform <a href="http://www.wikipedia.org"> Wikipedia </a>, Natura, în sens larg, este echivalentă cu lumea materială, universul fizic, universul material sau, simplu, univers, fire sau în termeni populari Mama natură; fenomenele lumii înconjurătoare, lumea anorganică și organică.

        „Natura” se referă la totalitatea lucrurilor și ființelor din univers, lumea fizică înconjurătoare, cuprinzând vegetația, formele de relief, clima, la fenomenele fizice și la viață, în general. Termenul nu include obiectele artificiale, create de om sau realizate printr-o acțiune de orice fel a omului. De asemenea, natura se deosebește de ceea ce este numit spiritual sau supranatural. Ca dimensiune, natura poate exista de la nivel subatomic până la nivel galactic.
        
        Cuvântul își are originea în latinescul natura.
        
        Având utilizări variate, astăzi cuvântul „natură” se poate referi generic la regnul vegetal sau animal, precum și la felul în care anumite lucruri lipsite de viață interacționează cauzând fenomene fizice sau geologice, sau legate de materie și energie. De asemenea, se referă la sălbăticie (animale sălbatice, stânci, păduri, ape și în general acele lucruri ce nu au fost alterate cu sau fără știință de om (sau care persistă indiferent de acțiunea acestuia).
        Totalitatea acțiunilor omului care influențează natura sunt cuprinse într-un factor antropic.
        
        Natura poate fi generic înțeleasă ca fiind constituită din: Pământ, viață, ecosistem, sălbăticie, frumusețea naturii, materie și energie, sau chiar natura aflată dincolo de planeta Pământ.
      </p>
      <p class="Par2">
          Una dintre principalele probleme cu care se confrunta omenirea este determinata de <strong><dfn>Poluare</dfn></strong>. Ea, prin definitie,  reprezintă contaminarea mediului înconjurător cu materiale care interferează cu sănătatea umană, calitatea vieții sau funcția naturală a ecosistemelor (organismele vii și mediul în care trăiesc). Chiar dacă uneori poluarea mediului înconjurător este un rezultat al cauzelor naturale, cum ar fi erupțiile vulcanice, cea mai mare parte a substanțelor poluante provine din activitățile umane. Se disting următoarele categorii: poluare fizică (incluzând poluarea fonică și poluarea radioactivă), 
          poluarea chimică (produsă de diverse substanțe eliberate în mediu sub formă gazoasă, lichidă sau de particule solide), poluare biologică (cu germeni patogeni, substanțe organice putrescibile etc.).
      </p>
      <p class="Par2">
          Astfel se disting mai multe tipuri de poluare:
      </p>
      <section>
        <h3 class="HR" id="Paer"><strong>1.Poluarea aerului</strong></h3>
        <p class="Par2"> 
          Poluarea urbană a aerului este cunoscută sub denumirea de „smog”. Smogul este în general un amestec de monoxid de carbon și compuși organici proveniți din combustia incompletă a combustibililor fosili cum ar fi cărbunii și de dioxid de sulf de la impuritățile din combustibili. În timp ce smogul reacționează cu oxigenul, acizii organici și sulfurici se condensează sub formă de picături, întețind ceața. Până în secolul al XX-lea smogul devenise deja un pericol major pentru sănătate.
            Un alt tip de smog, cel fotochimic, a început să reducă calitatea aerului deasupra orașelor mari cum ar fi Los Angeles în anii '30. Acest smog este cauzat de combustia în motoarele autovehiculelor și ale avioanelor a combustibilului care produce oxizi de azot și eliberează hidrocarburi din combustibilii nearși. Razele solare fac ca oxizii de azot și hidrocarburile să se combine și să transforme oxigenul în ozon, un agent chimic care atacă cauciucul, rănește plantele și irită plămânii. Hidrocarburile sunt oxidate în substanțe care se condensează și formează o ceață vizibilă și pătrunzătoare.
        </p>
        <img class="Img" alt="Imagine cu Poluare si fum" title="ImaginePoluare1" src="/resurse/img/img/PoluareaAerului1.jpg" height="400" width="400">
        <img class="Img" alt="Imagine cu Poluare,fum si uzine" title="ImaginePoluare2" src="/resurse/img/img/PoluareaAerului2.jpg" height="400" width="400">
        <img class="Img" alt="Alta Imagine cu uzine" title="ImaginePoluare3" src="/resurse/img/img/PoluareaAerului3.jpg" height="400" width="400">
      </section>
      <section>
        <h3 class="HR" id="Papelor"><strong>2.Poluarea apelor</strong></h3>
        <p class="Par2"> 
            Cererea de apă potabilă este în creștere continuă odată cu creșterea populației globului. Din anul <time>1942</time> până în anul <time>1990</time> preluarea apei potabile din râuri, lacuri, rezervoare și surse subterane a crescut de patru ori. Din totalul apei consumate în Statele Unite în <time>1995</time>, 39% a fost pentru irigație, 39% a fost pentru generarea de curent electric, 12% a fost folosită pentru alte utilități; industria și mineritul au folosit 7% și restul a fost folosită pentru animalele domestice și în scopuri comerciale.
            Apa menajeră, apa industrială și produsele chimice folosite în agricultură, cum ar fi îngrășămintele și pesticidele sunt principala cauză a poluării apelor. În Statele Unite, 37% din lacuri și estuare și 36% din râuri sunt prea poluate pentru practicarea pescuitului sau înotului în cea mai mare parte a anului. În țările în curs de dezvoltare, mai mult de 95% din apa menajeră este aruncată în râuri și golfuri, creând un risc major pentru sănătatea umană.
        </p>
        <img class="Img" alt="Gunoaie in apa" title="PoluareaApelor1" src="/resurse/img/img/PoluareaApelor1.jpg" height="400" width="400">
        <img class="Img" alt="Gunoaie" title="PoluareaApelor2" src="/resurse/img/img/PoluareaApelor2.jpg" height="400" width="400">
        <img class="Img" alt="Smoala in apa" title="PoluareaApelor3" src="/resurse/img/img/PoluareaApelor3.jpg" height="400" width="400">
      </section>
      <section>
          <h3 class="HR" id="Psolului"><strong>3.Poluarea solului</strong></h3>
          <p class="Par2"> 
              Solul este un amestec eterogen format din materie din plante, minerale și animale care se formează într-un proces foarte lung, care poate dura mii de ani. Solul este necesar pentru creșterea majorității plantelor și esențial pentru toată producția agricolă. Poluarea solului este acumularea de compuși chimici toxici, săruri, patogeni, sau materiale radioactive și metale grele care pot afecta viața plantelor și animalelor.
              Metodele iraționale de administrare a solului au degradat serios calitatea lui, au cauzat poluarea lui și au accelerat eroziunea. Tratarea solului cu îngrășăminte chimice, pesticide și fungicide omoară organisme utile cum ar fi unele bacterii, fungi și alte microorganisme. De exemplu, fermierii care cultivau căpșuni în California au dezinfectat solul cu bromură de metil pentru a ucide organismele care ar fi putut afecta căpșunii. Acest proces omoară fără discriminare chiar și organismele benefice și lasă solul steril și dependent de îngrășăminte pentru a suporta creșterea plantelor. În consecință, se folosesc tot mai multe îngrășăminte, ceea ce duce la poluarea râurilor și lacurilor în perioadele cu inundații.
          </p>
          <img class="Img" alt="Ghena" title="PoluareaSolului1" src="/resurse/img/img/PoluareaSolului1.jpg" height="400" width="400">
          <img class="Img" alt="mizerie" title="PoluareaSolului2" src="/resurse/img/img/PoluareaSolului2.jpg" height="400" width="400">
          <img class="Img" alt="gunoaie pe langa cosul de gunoi" title="PoluareaSolului3" src="/resurse/img/img/PoluareaSolului3.jpg" height="400" width="400">
      </section>
        <p class="Par3"><strong>Aceste tipuri de poluare au creat numeroase dezastre, cum ar fi:</strong> </p>
        <section>
            <h3 class="HR2" id="Incalzirea"><strong>Încălzirea globală</strong></h3>
            <p class="Par2"> 
                <dfn>Încălzirea globală</dfn> este fenomenul de creștere continuă a temperaturilor medii înregistrate ale atmosferei în imediata apropiere a solului, precum și a apei oceanelor, constatată în ultimele două secole, dar mai ales în ultimele decenii. Fenomene de încălzire globală au existat dintotdeauna în istoria Pământului, ele fiind asociate cu fenomenul cosmic de maximum solar, acestea alternând cu mici glaciațiuni terestre asociate cu fenomenul de minimum solar.
                <br><strong>Temperatura medie a aerului în apropierea suprafeței Pământului a crescut în ultimul secol cu 0,74 ± 0,18 °C.</strong><br>
                Dacă fenomenul de încălzire observat este cvasi-unanim acceptat de oamenii de știință și de factorii de decizie, există diverse explicații asupra cauzelor procesului. Opinia dominantă este că încălzirea se datorează activității umane, în special prin eliberarea de dioxid de carbon în atmosferă prin arderea de combustibili fosili.
                Grupul interguvernamental de experți în evoluția climei (<cite>Intergovernmental Panel on Climate Change</cite>) afirmă că „cea mai mare parte a creșterii temperaturii medii în a doua jumătatea a secolului al XX-lea se datorează probabil creșterii concentrației gazelor cu efect de seră, de proveniență antropică. Ei consideră că fenomenele naturale ca variațiile solare și vulcanismul au avut un mic efect de încălzire până în anii 1950, dar după efectul a fost de ușoară răcire.
            </p>
            <table id="Tab">
              
              <caption>Cresterea Temperaturii Anuale Fata de perioada 1951-1980</caption> 
              <tbody>
                <tr>
                  <td>
                    <strong>Anul:</strong>
                  </td>
                  <td>1991</td>
                  <td>1995</td>
                  <td>1999</td>
                  <td>2001</td>
                  <td>2003</td>
                  <td>2005</td>
                  <td>2007</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                <td>
                  <strong>Creșterea de
                    temperatură in °C:</strong>
                </td>
                  <td>0,35</td>
                  <td>0,38</td>
                  <td>0,33</td>
                  <td>0,48</td>
                  <td>0,55</td>
                  <td>0,62</td>
                  <td>0,57</td>
                </tr>
              </tfoot>
            </table>
        </section>
        <section>
          <h3 class="HR2" id="Disparitia"><strong>Disparitia Speciilor de animale</strong></h3>
          <p class="Par2"> 
              Principalele cauze ale disparitiei speciilor de plante si animale sunt: distrugerea habitatelor, exploatarea comerciala (colectarea de plante, vânatul irational si braconajul), distrugerile produse de catre speciile aclimatizate si poluarea. Dintre aceste cauze, distrugerea habitatelor reprezinta cea mai mare amenintare pentru aceste specii.
              De-a lungul erelor geologice, diferitele specii de plante si animale au evoluat încet si au disparut din cauza schimbarilor climatice radicale si a imposibilitatii de a se adapta competitiei pentru supravietuire. Totusi, din anii 1600, rata de disparitie a crescut progresiv, odata cu cresterea populatiei umane si consumarea resurselor naturale.
          </p>
          <p class="Par2"> Mai jos o să va lăsăm câteva imagini că să înțelegeți cauzele dispariției animalelor: </p>
            <img class="Img" alt="Barza la Gunoaie" title="Barza" src="/resurse/img/img/DisparitiaAnimalelor1.jpg" height="300" width="300">   
            <img class="Img" alt="Animalut legat de mizerie" title="Animalut" src="/resurse/img/img/DisparitiaAnimalelor2.jpg" height="300" width="300">
            <img class="Img" alt="Broasca testoasa prinsa" title="Broasca" src="/resurse/img/img/DisparitiaAnimalelor3.jpg" height="300" width="300">
            <img class="Img" alt="Vaca mananca gunoaie" title="Vaca" src="/resurse/img/img/DisparitiaAnimalelor4.jpg" height="300" width="300">
            <img class="Img" alt="Animalut cu plastice" title="Animalutinapa" src="/resurse/img/img/DisparitiaAnimalelor5.jpg" height="300" width="300">
            <img class="Img" alt="Pisica printre gunoaie" title="Pisica" src="/resurse/img/img/DisparitiaAnimalelor6.jpg" height="300" width="300">
      </section>
      </section>
      
    </main>
    <footer>
      <%- include("../fragments/footer") %>
    </footer>
  </body>
</html>
