<!DOCTYPE html>
<html lang="ro">
    <head> 
      <title>Protejati natura</title>
      <link rel="shortcut icon" type="image/ico" href="/resurse/img/img/copac.ico">
      <meta charset="UTF-8">
      <meta name="description" content="Despre natura si despre cum o putem proteja">
      <meta name="keywords" content="protejam natura ">
      <meta name="author" content="Cordescu Octavian-Nicolae">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <script src="/resurse/scripts/Feedback.js"></script>
       <a href="index">
        <button type="button">Acasa</button>
       </a>
    </body>
</html>