<!DOCTYPE html>
<html lang="ro">
    <head> 
      <title>Protejati natura</title>
      <link rel="shortcut icon" type="image/ico" href="/resurse/img/img/copac.ico">
      <meta charset="UTF-8">
      <meta name="description" content="Despre natura si despre cum o putem proteja">
      <meta name="keywords" content="protejam natura ">
      <meta name="author" content="Cordescu Octavian-Nicolae">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="/resurse/css/Style1.css">
    </head>
   <body>
    <header>
      <!--<div class="container">
          <h1 id="brand"><span class="highlight">Să Protejăm</span> Natura!</h1>
            <nav class="contentNav">
                <ul class="menu" >
                 <li  class="current"><a href="index">Acasă</a></li>
                 <li><a>Despre Natură</a>
                   <ul class="submenu">
                       <li><a href="DeCeTrebuieSaProtejamNatura">De Ce Trebuie Să Protejăm Natura</a></li>
                       <li><a href="CumPutemProtejaNatura">Cum Putem Proteja Natura</a></li>  
                   </ul>
                 </li>
                 <li><a href="about">Despre Noi</a></li>
                 <li><a href="login">Login</a></li>
               </ul>
              </nav> 
               
         </div>  -->
         <%- include("../fragments/header") %>
    </header>
    <main>
      
        <div>
            <video  id="video" preload="auto" autoplay loop="loop" muted="muted">
              <source src="/resurse/video/VideoNatura1.mp4" type="video/mp4">
                 Video-ul nu merge pe acest browser
            </video>
        </div> 
      <div class="content"><p id="FT">BINE AȚI VENIT!</p></div>
    </main>
   </body>
</html>