<!DOCTYPE html>
<html>
    <head>
        <title>Protejati natura</title>
        <link rel="shortcut icon" type="image/ico" href="/resurse/img/img/copac.ico">
        <meta charset="UTF-8">
        <meta name="description" content="Despre natura si despre cum o putem proteja">
        <meta name="keywords" content="protejam natura ">
        <meta name="author" content="Cordescu Octavian-Nicolae">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" type="text/css" href="/resurse/css/StyleLogin.css">
    </head>
<body>
  <div class="container">
    <h1>Register</h1>
  </div>
    <form method="post">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter username" name="username" required>
    
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter name" name="name" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="registerbtn">Register</button> 
    </form>
    <div class="container signin">
      <p>Already have an account? <a href="login">Sign in</a>.</p>
    </div>
    
    </body>
</html>